<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhj.dddrug.dao.ProteinMapper">
    <select id="selectProteins" parameterType="com.xhj.dddrug.vo.QueryVo" resultType="String">
      select gene_symbol from proteins where gene_symbol in (select pname from drug_protein where dname=#{drugName})
    </select>
    <select id="selectProteinsByList" parameterType="List" resultType="String">
        select gene_symbol from proteins where
        gene_symbol in (select pname from protein_enzyme where (pname in (
        <foreach collection="list" separator="," item="item">#{item}</foreach>
        ) or pname_e in (<foreach collection="list" separator="," item="item">#{item}</foreach>)) and re_type=1)
        or gene_symbol in (select pname_e from protein_enzyme where (pname in (
        <foreach collection="list" separator="," item="item">#{item}</foreach>) or pname_e in (
        <foreach collection="list" separator="," item="item">#{item}</foreach>)) and re_type=1)
    </select>
    <select id="selectProteinsByPage" parameterType="java.util.HashMap" resultType="com.xhj.dddrug.pojo.Protein">
        select * from proteins where gene_symbol in (
        <foreach collection="proteinsGeneSymbol" separator="," item="item">#{item}</foreach>
        ) limit #{vo.rowNumber},#{vo.pageSize}
    </select>
    <select id="queryProteinCount" parameterType="List" resultType="int">
        select count(*) from proteins where gene_symbol in (
          <foreach collection="list" separator="," item="item">#{item}</foreach>
        )
    </select>
    <select id="selectDrugs" parameterType="Map" resultType="com.xhj.dddrug.pojo.Drug">
        select DISTINCT dname,drugbank,`type` from drugs where `type`=#{type} and del=1 and dname in(
          select DISTINCT dname from drug_protein where `type`=#{type} and del=1 and pname=#{data.gene_symbol}
        )
    </select>
    <select id="selectEnzyme" parameterType="Map" resultType="com.xhj.dddrug.pojo.Enzyme">
        select DISTINCT ename,entrz_gene,`type` from enzyme where `type`=#{type} and del=1 and ename in (
            select DISTINCT pname_e from protein_enzyme where re_type=2 and `type`=#{type} and del=1 and pname=#{data.gene_symbol}
        )
    </select>
    <select id="selectMetabolites" parameterType="Map" resultType="com.xhj.dddrug.pojo.Metabolite">
        select DISTINCT mname,hmdb,kc,type from metabolites where `type`=#{type} and del=1 and mname in (
            select DISTINCT mname from enzyme_metabolites where `type`=#{type} and del=1 and ename in(
                <foreach collection="data" separator="," item="item">#{item.ename}</foreach>
            )
        )
    </select>
    <select id="listDrugs" parameterType="Map" resultType="com.xhj.dddrug.pojo.Drug">
        select DISTINCT dname,drugbank,`type` from drugs where `type`=#{type} and del=1 and dname in(
          select DISTINCT dname from drug_protein where `type`=#{type} and del=1 and pname=#{data.gene_symbol}
        )
        <choose>
            <when test="order != null and order.sort != null and order.order != null">
                <foreach collection="order.orderParams" item="item" open="order by " close="" separator=",">
                    ${item}
                </foreach>
            </when>
            <otherwise>
                order by did asc
            </otherwise>
        </choose>
        limit #{page.offset},#{page.rows}
    </select>
    <select id="selectDrugProtein" parameterType="Map" resultType="com.xhj.dddrug.vo.DrugVo">
        select DISTINCT dname,pname,`type` from drug_protein where `type`=#{type} and del=1 and pname=#{data.gene_symbol}
    </select>
    <select id="selectProteinEnzyme" parameterType="Map" resultType="com.xhj.dddrug.vo.ProteinEnzymeVo">
        select DISTINCT pname,pname_e,`type` from protein_enzyme where `type`=#{type} and del=1 and re_type=2 and pname=#{data.gene_symbol}
    </select>
    <select id="selectEnzymeMetabolite" parameterType="Map" resultType="com.xhj.dddrug.vo.EnzymeMetVo">
        select DISTINCT ename,mname,`type` from enzyme_metabolites where `type`=#{type} and del=1 and ename in
        (<foreach collection="data" separator="," item="item">#{item.ename}</foreach>)
    </select>
    <select id="selectMetabolitesByPage" parameterType="Map" resultType="com.xhj.dddrug.pojo.Metabolite">
        select DISTINCT mname,hmdb,kc,type from metabolites where `type`=#{type} and del=1 and mname in (
            select DISTINCT mname from enzyme_metabolites where `type`=#{type} and del=1 and ename in
            (
              <foreach collection="data" separator="," item="item">#{item.ename}</foreach>
            )
        )
        <choose>
            <when test="order != null and order.sort != null and order.order != null">
                <foreach collection="order.orderParams" item="item" open="order by " close="" separator=",">
                    ${item}
                </foreach>
            </when>
            <otherwise>
                order by mid asc
            </otherwise>
        </choose>
        limit #{page.offset},#{page.rows}
    </select>
</mapper>